.person {
    flex: 1 0 calc(30% - 20px);
    flex-wrap: wrap;
    width: 20%;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}

.person img {
    width: 150px;
    margin-bottom: 3px;
}

.person h2 {
    margin-bottom: 0px;
    color: #000000;
}

.person p {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #000000;
}

.column {
    background: #ffffff;
    display: inline-flex;
    flex-wrap: wrap;
}

body {
    margin: 0;
    background: #ffffff;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
}

.back {
    background-color: #06AEF1;
}

#menu {
    display: flex;
    width: 100%;
    height: 78px;
    margin: 0;
    padding: 0;
    top: 0;
    align-items: center;
}

#menu ul {
    margin-left: 35%;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    padding: 0px 20px 20px 20px;
    height: 30px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
    border: none;
    color: #FFFFFF;
}

#menu a:hover {
    text-decoration: underline;
}